<h1><b>Big Data & Predictive Analytics Lanjut (Tugas 1)</b></h1>
<ul>
    <li><b>Nama : Haikal Raditya Fadhilah</b></li>
    <li><b>NIM : 21.11.3910</b></li>
    <li><b>Kelas : Informatika 02</b></li>
</ul>

<h2><b>Soal Praktikum</b></h2>


<ol>

<li>Jelaskan kenapa harus disimpan ke dalam tabel? df.write.saveAsTable("nama tabel")</li>
<li>Ganti beberapa nama kolom secara bersamaan</li>
<li>Hapus beberapa kolom yang tidak berguna, dan tambahkan satu kolom baru lalu disimpan</li>
<li>Sebutkan kemungkinan yang bisa didapatkan dari sekedar mengatur dan melihat kolom-kolom yang berpengaruh pada sebuah data, jelaskan berdasarkan data yang anda miliki sendiri.</li>

</ol>

<h2><b>IMPORT LIBRARY</b></h2>

In [107]:
import findspark
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

<h2><b>MEMBUAT SESSION SPARK</b></h2>

In [108]:
spark = SparkSession.builder\
    .master("local[*]")\
        .appName("Tugas 1 BDPAL")\
            .getOrCreate()

<h2><b>IMPORT DATABASE</b></h2>

In [109]:
df = spark.read.csv("./order.csv",header=True,inferSchema=True)
df.write.mode("overwrite").saveAsTable("order")

<h2><b>MELIHAT KETERANGAN DATA TABLE</b></h2>

In [110]:
print(spark.catalog.listTables())

[Table(name='covid19', catalog='spark_catalog', namespace=['default'], description=None, tableType='MANAGED', isTemporary=False), Table(name='order', catalog='spark_catalog', namespace=['default'], description=None, tableType='MANAGED', isTemporary=False)]

<h2><b>ANALISIS DATASET</b></h2>

<h3><b>1. Membuat Dataframe Dengan Query</b></h3>

In [127]:
dataset = spark.sql("select * from order")
dataset.show(2)

+--------------------+--------+--------------------+-------+--------------------+-------------+--------------------+------------+-------------+---------------+---------------------+-------------------+
|            order_id|quantity|          product_id|  price|           seller_id|freight_value|         customer_id|order_status|purchase_date|   payment_type|product_category_name|product_weight_gram|
+--------------------+--------+--------------------+-------+--------------------+-------------+--------------------+------------+-------------+---------------+---------------------+-------------------+
|e3ad77f2683cf57ce...|       1|52b3af7304d611855...|1040000|4a3ca9315b744ce9f...|       124000|ea665ac5a97f1a398...|   delivered|   2017-07-30|    credit card|               gadget|               1150|
|e7ac1f7da9fc50f09...|       1|b09790edda5433311...|1693000|d2374cbcbb3ca4ab1...|       101000|2981aa48735242d92...|   delivered|   2017-07-30|virtual account|               sports|                400|
+--------------------+--------+--------------------+-------+--------------------+-------------+--------------------+------------+-------------+---------------+---------------------+-------------------+
only showing top 2 rows

<h3><b>2. Melihat Tipe Data Setiap Kolom</b></h3>

In [112]:
dataset.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- product_id: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- seller_id: string (nullable = true)
 |-- freight_value: integer (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- purchase_date: date (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- product_category_name: string (nullable = true)
 |-- product_weight_gram: integer (nullable = true)

<h3><b>3. Melihat Jumlah Baris Dan Kolom</b></h3>

In [113]:
print("Jumlah Baris Dataset Sejumlah : ",dataset.count())
print("Jumlah Kolom Dataset Sejumlah : ", len(dataset.columns))

Jumlah Baris Dataset Sejumlah :  49999
Jumlah Kolom Dataset Sejumlah :  12

<h3><b>4. Melihat Deskripsi Dari Dataset</b></h3>

In [114]:
dataset.describe().show()

+-------+--------------------+------------------+--------------------+------------------+--------------------+------------------+--------------------+------------+---------------+---------------------+-------------------+
|summary|            order_id|          quantity|          product_id|             price|           seller_id|     freight_value|         customer_id|order_status|   payment_type|product_category_name|product_weight_gram|
+-------+--------------------+------------------+--------------------+------------------+--------------------+------------------+--------------------+------------+---------------+---------------------+-------------------+
|  count|               49999|             49999|               49999|             49999|               49999|             49999|               49999|       49999|          49999|                49999|              49980|
|   mean|                null|1.1974839496789935|                null|2607783.9156783135|                null|104521.39042780855|                null|        null|           null|                 null|  2201.830892356943|
| stddev|                null|0.7222615427162363|                null| 1388311.591031154|                null| 55179.84496236245|                null|        null|           null|                 null| 3929.8968753726276|
|    min|00010242fe8c5a6d1...|                 1|00088930e925c41fd...|            200000|0015a82c2db000af6...|              9000|00012a2ce6f8dcda2...|    approved|    credit card|           automotive|                 50|
|    max|fffe18544ffabc95d...|                21|fff9553ac224cec9d...|           5000000|ffff564a4f9085cd2...|            200000|ffffa3172527f765d...| unavailable|virtual account|            utilities|              40425|
+-------+--------------------+------------------+--------------------+------------------+--------------------+------------------+--------------------+------------+---------------+---------------------+-------------------+

<h2><b>JAWABAN SOAL</b></h2>

<h3><b>1. Jelaskan kenapa harus disimpan ke dalam tabel? df.write.saveAsTable("nama tabel")</b></h3>

<p>Fungsi PySpark Yaitu saveAsTable() Berfungsi untuk menyimpan sebuah dataset menjadi table dalam sebuah database,dengan menggunakan menyimpan ke dalam tabel pengguna dapat melakukan query-query sql yang cukup kompleks agar dapat menghasilkan sebuah hasil tujuan analisis data</p>

<h3><b>2. Mengganti Beberapa Kolom Secara Bersamaan</b></h3>

<p>Pada Bagian ini saya mengganti Nama 2 Kolom yaitu Kolom Quantity diganti dengan "Jumlah Pembelian" Dan Kolom Price di ganti dengan "Harga"</p>

In [115]:
#Dataset Original Sebelum Nama Kolomnya Di Rename'
dataset.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- product_id: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- seller_id: string (nullable = true)
 |-- freight_value: integer (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- purchase_date: date (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- product_category_name: string (nullable = true)
 |-- product_weight_gram: integer (nullable = true)

In [116]:
#Dataset Setelah Merename Beberapa Kolom
datasetRevisi = df.withColumnRenamed("quantity","Jumlah Pembelian")\
    .withColumnRenamed("price","Harga")\
        .withColumnRenamed("Total Deaths","Total Kematian")
datasetRevisi.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- Jumlah Pembelian: integer (nullable = true)
 |-- product_id: string (nullable = true)
 |-- Harga: integer (nullable = true)
 |-- seller_id: string (nullable = true)
 |-- freight_value: integer (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- purchase_date: date (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- product_category_name: string (nullable = true)
 |-- product_weight_gram: integer (nullable = true)

<h3><b>3. Hapus beberapa kolom yang tidak berguna, dan tambahkan satu kolom baru lalu disimpan</b></h3>

In [128]:
datasetRevisi = datasetRevisi.drop('order_id')\
    .drop('product_id')\
        .drop('seller_id')\
            .drop('customer_id')\
                .drop('purchase_date')\
                    .withColumn("Product (Kg)",col("product_weight_gram") / 1000)
datasetRevisi.show(3)

+----------------+-------+-------------+------------+---------------+---------------------+-------------------+------------+
|Jumlah Pembelian|  Harga|freight_value|order_status|   payment_type|product_category_name|product_weight_gram|Product (Kg)|
+----------------+-------+-------------+------------+---------------+---------------------+-------------------+------------+
|               2|1489000|        28000|     shipped|virtual account|              fashion|               1800|         1.8|
|               1|1756000|        45000|     shipped|virtual account|           automotive|               1400|         1.4|
|               1|1707000|       174000|    canceled|       e-wallet|                 toys|                700|         0.7|
+----------------+-------+-------------+------------+---------------+---------------------+-------------------+------------+
only showing top 3 rows

<h3><b>4. Sebutkan kemungkinan yang bisa didapatkan dari sekedar mengatur dan melihat kolom-kolom yang berpengaruh pada sebuah data, jelaskan berdasarkan data yang anda miliki sendiri.</b></h3>

In [125]:
datasetRevisi.select("order_status").distinct().show()

+------------+
|order_status|
+------------+
|     shipped|
|    canceled|
|    approved|
|    invoiced|
|   delivered|
| unavailable|
|  processing|
+------------+

In [126]:
# Melihat Jumlah Pembelian Dari Pengelompokan Product Category
jumlahPenjualan = datasetRevisi.filter(datasetRevisi.order_status == "shipped").groupBy("product_category_name").sum().select("product_category_name","sum(Jumlah Pembelian)").withColumnRenamed("sum(Jumlah Pembelian)","Jumlah Pembelian")
jumlahPenjualan.show(5)

+---------------------+----------------+
|product_category_name|Jumlah Pembelian|
+---------------------+----------------+
|               gadget|              62|
|            utilities|              65|
|           automotive|              96|
|               beauty|              85|
|          electronics|              86|
+---------------------+----------------+
only showing top 5 rows

<p>Dengan Melihat struktur dataset serta mengolahnya kita dapat mendapatkan beberapa informasi penting di dalam dataset berikut kesimpulan yang saya peroleh dari dataset diatas : 
    <ul>
        <li>Mengetahui bahwa dataset yang saya analisis merupakan dataset penjualan beberapa kategori barang</li>
        <li>Mengetahui bahwa produk kategori yang berhasil terjual yaitu produk otomotif sebanyak 96 barang</li>
    </ul>
</p>