<h1><b>BIG DATA & PREDICTIVE ANALYTICS (Pertemuan 3)</b></h1>
<ul>
    <li>Nama : Haikal Raditya Fadhilah</li>
    <li>NIM : 21.11.3910</li>
    <li>Kelas : Informatika 02</li>
</ul>

<h2><b>IMPORT LIBRARY</b></h2>

In [166]:
import pyspark
from pyspark.sql import SparkSession

<h2><b>MEMBUAT PYSPARK SESSION</b></h2>

<h3><b>Membuat Session Pyspark</b></h3>

In [167]:
spark = SparkSession.builder\
    .master("local[*]")\
        .appName("Tugas 3 BDPAL")\
            .getOrCreate()

<h3><b>Cek Session Pyspark</b></h3>

In [168]:
if (spark.getActiveSession()):
    print("Session Pyspark Sudah Aktif")
else:
    print("Session Pyspark Belum Aktif")

Session Pyspark Sudah Aktif

<h2><b>IMPORT DATASET</b></h2>

In [169]:
df = spark.read.csv('./Car_sales.csv',header=True,inferSchema=True)

<h2><b>EDA</b></h2>

<h3><b>Melihat Potongan Dataset</b></h3>

In [170]:
df.show(5)

+------------+-------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|Manufacturer|  Model|Sales_in_thousands|__year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|
+------------+-------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|       Acura|Integra|            16.919|              16.36|   Passenger|              21.5|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|
|       Acura|     TL|            39.384|             19.875|   Passenger|              28.4|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|
|       Acura|     CL|            14.114|             18.225|   Passenger|              null|        3.2|       225|    106.9| 70.6| 192.0|       3.47|         17.2|             26|     1/4/2012|             null|
|       Acura|     RL|             8.588|             29.725|   Passenger|              42.0|        3.5|       210|    114.6| 71.4| 196.6|       3.85|         18.0|             22|    3/10/2011|      91.38977933|
|        Audi|     A4|            20.397|             22.255|   Passenger|             23.99|        1.8|       150|    102.6| 68.2| 178.0|      2.998|         16.4|             27|    10/8/2011|       62.7776392|
+------------+-------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
only showing top 5 rows

<h3><b>Melihat Nama Kolom Berserta Variabelnya</b></h3>

In [171]:
df.printSchema()

root
 |-- Manufacturer: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Sales_in_thousands: double (nullable = true)
 |-- __year_resale_value: double (nullable = true)
 |-- Vehicle_type: string (nullable = true)
 |-- Price_in_thousands: double (nullable = true)
 |-- Engine_size: double (nullable = true)
 |-- Horsepower: integer (nullable = true)
 |-- Wheelbase: double (nullable = true)
 |-- Width: double (nullable = true)
 |-- Length: double (nullable = true)
 |-- Curb_weight: double (nullable = true)
 |-- Fuel_capacity: double (nullable = true)
 |-- Fuel_efficiency: integer (nullable = true)
 |-- Latest_Launch: string (nullable = true)
 |-- Power_perf_factor: double (nullable = true)

<h3><b>Melihat Jumlah Baris Dan Kolom</b></h3>

In [172]:
print("Jumlah Kolom Dataset : ",len(df.columns))
print("Jumlah Baris Dataset : ",df.count())

Jumlah Kolom Dataset :  16
Jumlah Baris Dataset :  157

<h2><b>SELECTING</b></h2>

<h3><b>Selecting Data</b></h3>

In [173]:
data_selected_mobil = df.filter(df.Manufacturer == "Dodge").filter(df.Model == "Intrepid")
data_selected_mobil.select("Manufacturer",'Model','Price_in_thousands','Horsepower').show()

+------------+--------+------------------+----------+
|Manufacturer|   Model|Price_in_thousands|Horsepower|
+------------+--------+------------------+----------+
|       Dodge|Intrepid|            22.505|       202|
+------------+--------+------------------+----------+

<p><b>PENJELASAN</b></p>
<p>Dengan Membuat Filter select kita dapat mengseleksi data yang ingin di tampilkan sesuai dengan ketentuan-ketentuan yang ditetapkan agar mendapatkan data yang valid.<br>
Berikut Filter yang di terapkan : 
</p>
<ul>
    <li>Menampilkan data mobil yang Memiliki Merek Dogde</li>
    <li>Menampilkan Data Mobil Yang Memiliki Model Intrepid</li>
</ul>

<h3><b>Rename Column</b></h3>

In [174]:
# Cara Pertama
harga_rupiah = ((df.Price_in_thousands * 1000) * 15000).alias("Harga_Rupiah")
harga_rupiah = df.select("Manufacturer","Model",harga_rupiah)
harga_rupiah.show(5)

+------------+-------+------------+
|Manufacturer|  Model|Harga_Rupiah|
+------------+-------+------------+
|       Acura|Integra|     3.225E8|
|       Acura|     TL|      4.26E8|
|       Acura|     CL|        null|
|       Acura|     RL|       6.3E8|
|        Audi|     A4|    3.5985E8|
+------------+-------+------------+
only showing top 5 rows

In [175]:
# Cara kedua
ubah_rupiah = df.selectExpr("Manufacturer",'Model',"(Price_in_thousands * 1000) * 15000 as Harga_Rupiah")
ubah_rupiah.show(5)

+------------+-------+------------+
|Manufacturer|  Model|Harga_Rupiah|
+------------+-------+------------+
|       Acura|Integra|     3.225E8|
|       Acura|     TL|      4.26E8|
|       Acura|     CL|        null|
|       Acura|     RL|       6.3E8|
|        Audi|     A4|    3.5985E8|
+------------+-------+------------+
only showing top 5 rows

<p><b>PENJELASAN</b></p>
<p>Dengan Menggunakan fungsi dari spark kita dapat merubah nama kolom bahkan kita dapat mengganti serta menghitung nilai dari kolom yang sudah ada<br>
Berikut Aksi yang di terapkan : 
</p>
<ul>
    <li>Merubah Angka Dollar Menjadi angka ribuan</li>
    <li>Menghitung Harga Mobil Dengan Mata Uang Rupiah Yang Awalnya Dollar</li>
</ul>

<h2><b>FILTERING</b></h2>

In [176]:
filtering_harga_dan_horsepower = df.filter(df.Price_in_thousands < 25).filter(df.Horsepower > 200)
df.show(5)

+------------+-------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|Manufacturer|  Model|Sales_in_thousands|__year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|
+------------+-------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|       Acura|Integra|            16.919|              16.36|   Passenger|              21.5|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|
|       Acura|     TL|            39.384|             19.875|   Passenger|              28.4|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|
|       Acura|     CL|            14.114|             18.225|   Passenger|              null|        3.2|       225|    106.9| 70.6| 192.0|       3.47|         17.2|             26|     1/4/2012|             null|
|       Acura|     RL|             8.588|             29.725|   Passenger|              42.0|        3.5|       210|    114.6| 71.4| 196.6|       3.85|         18.0|             22|    3/10/2011|      91.38977933|
|        Audi|     A4|            20.397|             22.255|   Passenger|             23.99|        1.8|       150|    102.6| 68.2| 178.0|      2.998|         16.4|             27|    10/8/2011|       62.7776392|
+------------+-------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
only showing top 5 rows

<p><b>PENJELASAN</b></p>
<p>Dengan menggunakan fungsi filter kita dapat memfilter data sesuai keinginan kita,selain itu dengan menggunakan filter data yang kita peroleh dapat lebih bersih serta menghasilkan prediksi yang baik.<br>
Berikut Filter yang di terapkan : 
</p>
<ul>
    <li>Memfilter data mobil yang memiliki horsepower di atas 200</li>
    <li>Memfilter data mobil yang memiliki harga di bawah 2500$</li>
</ul>

<h2><b>AGGREGATING</b></h2>

In [177]:
# Merubah Value Dan Nama Kolom Price
df = df.withColumn("Price_in_thousands",df.Price_in_thousands * 1000).withColumnRenamed("Price_in_thousands","Price")

In [178]:
# Melihat Jumlah Merek Mobil Terbanyak Pada Dataset
df.groupBy("Manufacturer").count().orderBy("count",ascending=False).show(3)

+------------+-----+
|Manufacturer|count|
+------------+-----+
|       Dodge|   11|
|        Ford|   11|
|   Chevrolet|    9|
+------------+-----+
only showing top 3 rows

In [179]:
# Melihat Harga Mobil Termahal Merek Dodge
df.filter(df.Manufacturer == 'Dodge').groupBy().max("Price").withColumnRenamed("max(Price)","Harga Mobil Termahal Dodge").show()

+--------------------------+
|Harga Mobil Termahal Dodge|
+--------------------------+
|                   69725.0|
+--------------------------+

In [180]:
# Melihat Harga Mobil Termurah Merek Ford
df.filter(df.Manufacturer == 'Ford').groupBy().min("Price").withColumnRenamed("min(Price)","Harga Mobil Termurah Ford").show()

+-------------------------+
|Harga Mobil Termurah Ford|
+-------------------------+
|                  12050.0|
+-------------------------+

<p><b>PENJELASAN</b></p>
<p>Dengan menggunakan fitur-fitur agregating kita dapat mengelompokan dan memfilter data serta mencari nilai-nilai yang butuhkan untuk analisis data,dengan fitur groupBy kita dapat mengelompokkan data dan mencari nilai numeric max,min serta mean.<br>
Berikut Aksi yang di Lakukan : 
</p>
<ul>
    <li>Merubah Nama Kolom Harga dan merubah harga menjadi satuan ribuan dollar</li>
    <li>Memfilter merek mobil terbanyak di dalam dataset</li>
    <li>Mencari Harga tertinggi mobil pada merek dodge dengan menggunakan filter,groupping dan fungsi agregasi</li>
    <li>Mencari harga terendah mobil pada merek ford dengan filter,groupping dan agregasi fungsi</li>
</ul>

<h2><b>GROUPPING</b></h2>

In [181]:
data_groupping_horsepower = df.select("Manufacturer","Model","Price","Engine_size","Horsepower")
data_groupping_horsepower.groupBy("horsepower").min("Price").show()

+----------+----------+
|horsepower|min(Price)|
+----------+----------+
|       148|   14999.0|
|       137|   15010.0|
|       255|   46225.0|
|       133|   17518.0|
|       155|   17885.0|
|       193|   33400.0|
|       115|   13260.0|
|       126|   13499.0|
|       210|   24997.0|
|       300|   42660.0|
|       253|   28340.0|
|       236|   45500.0|
|       222|   26249.0|
|       230|   19460.0|
|       225|   28400.0|
|       190|   21560.0|
|       140|   11799.0|
|       132|   12640.0|
|       185|   25345.0|
|       146|   20550.0|
+----------+----------+
only showing top 20 rows

In [182]:
df.groupBy("Manufacturer").count().withColumnRenamed("count","Jumlah Mobil").orderBy("Jumlah Mobil",ascending=False).show()

+------------+------------+
|Manufacturer|Jumlah Mobil|
+------------+------------+
|       Dodge|          11|
|        Ford|          11|
|   Chevrolet|           9|
|  Mercedes-B|           9|
|      Toyota|           9|
|  Mitsubishi|           7|
|    Chrysler|           7|
|      Nissan|           7|
|  Volkswagen|           6|
|  Oldsmobile|           6|
|       Lexus|           6|
|       Volvo|           6|
|     Pontiac|           6|
|     Mercury|           6|
|      Saturn|           5|
|       Honda|           5|
|    Cadillac|           5|
|    Plymouth|           4|
|       Acura|           4|
|       Buick|           4|
+------------+------------+
only showing top 20 rows

<p><b>PENJELASAN</b></p>
<p>Dengan Menggunakan Groupping Kita dapat mengelompokkan data yang sama dan memilih data yang kita inginkan,bisa juga di gabungkan dengan fungsi-fungsi agregasi.<br>
Berikut Aksi yang di Lakukan : 
</p>
<ul>
    <li>Mencari Harga Mobil Termurah Dari Setiap Kategori Horsepower</li>
    <li>Menghitung Jumlah Mobil Tiap Brand Dalam Dataset</li>
</ul>

<h2><b>JOINING</b></h2>

In [183]:
# Membuat Dataframe 
MerekMobil = [(1,"Dodge","Amerika Serikat"),(2,"Volvo","Amerika Serikat"),(3,"Mercedes-B","Jerman"),(4,"Aston Martin","England")]
kolom_merekmobil = ['index','Brand','Country']

MerekMobil = spark.createDataFrame(data=MerekMobil,schema=kolom_merekmobil)

In [184]:
# Inner Join
df.join(MerekMobil,MerekMobil.Brand == df.Manufacturer,"inner").show(5)

+------------+---------+------------------+-------------------+------------+-------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-----+-----+---------------+
|Manufacturer|    Model|Sales_in_thousands|__year_resale_value|Vehicle_type|  Price|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|index|Brand|        Country|
+------------+---------+------------------+-------------------+------------+-------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-----+-----+---------------+
|       Dodge|  Caravan|           181.749|             12.025|         Car|19565.0|        2.4|       150|    113.3| 76.8| 186.3|      3.533|         20.0|             24|     9/1/2011|      61.22700031|    1|Dodge|Amerika Serikat|
|       Dodge|  Durango|           101.323|               null|         Car|26310.0|        5.2|       230|    115.7| 71.7| 193.5|      4.394|         25.0|             17|    6/27/2012|      92.85412522|    1|Dodge|Amerika Serikat|
|       Dodge|   Dakota|           111.313|              11.26|         Car|16980.0|        2.5|       120|    131.0| 71.5| 215.0|      3.557|         22.0|             19|   11/25/2011|      49.64500177|    1|Dodge|Amerika Serikat|
|       Dodge|  Ram Van|            31.038|             13.425|         Car|18575.0|        3.9|       175|    127.2| 78.8| 208.5|      4.298|         32.0|             16|    7/26/2012|      70.07832154|    1|Dodge|Amerika Serikat|
|       Dodge|Ram Wagon|            16.767|              15.51|         Car|21315.0|        3.9|       175|    109.6| 78.8| 192.6|      4.245|         32.0|             15|     1/6/2012|      71.13529161|    1|Dodge|Amerika Serikat|
+------------+---------+------------------+-------------------+------------+-------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-----+-----+---------------+
only showing top 5 rows

In [185]:
# Outer Join
df.join(MerekMobil,MerekMobil.Brand == df.Manufacturer,"outer").show(5)

+------------+-------+------------------+-------------------+------------+-------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-----+------------+-------+
|Manufacturer|  Model|Sales_in_thousands|__year_resale_value|Vehicle_type|  Price|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|index|       Brand|Country|
+------------+-------+------------------+-------------------+------------+-------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-----+------------+-------+
|       Acura|Integra|            16.919|              16.36|   Passenger|21500.0|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952| null|        null|   null|
|       Acura|     TL|            39.384|             19.875|   Passenger|28400.0|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766| null|        null|   null|
|       Acura|     CL|            14.114|             18.225|   Passenger|   null|        3.2|       225|    106.9| 70.6| 192.0|       3.47|         17.2|             26|     1/4/2012|             null| null|        null|   null|
|       Acura|     RL|             8.588|             29.725|   Passenger|42000.0|        3.5|       210|    114.6| 71.4| 196.6|       3.85|         18.0|             22|    3/10/2011|      91.38977933| null|        null|   null|
|        null|   null|              null|               null|        null|   null|       null|      null|     null| null|  null|       null|         null|           null|         null|             null|    4|Aston Martin|England|
+------------+-------+------------------+-------------------+------------+-------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-----+------------+-------+
only showing top 5 rows

In [186]:
# left Join
df.join(MerekMobil,MerekMobil.Brand == df.Manufacturer,"left").show(5)

+------------+-------+------------------+-------------------+------------+-------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-----+-----+-------+
|Manufacturer|  Model|Sales_in_thousands|__year_resale_value|Vehicle_type|  Price|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|index|Brand|Country|
+------------+-------+------------------+-------------------+------------+-------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-----+-----+-------+
|        Audi|     A4|            20.397|             22.255|   Passenger|23990.0|        1.8|       150|    102.6| 68.2| 178.0|      2.998|         16.4|             27|    10/8/2011|       62.7776392| null| null|   null|
|        Audi|     A6|             18.78|             23.555|   Passenger|33950.0|        2.8|       200|    108.7| 76.1| 192.0|      3.561|         18.5|             22|     8/9/2011|      84.56510502| null| null|   null|
|       Acura|Integra|            16.919|              16.36|   Passenger|21500.0|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952| null| null|   null|
|       Acura|     TL|            39.384|             19.875|   Passenger|28400.0|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766| null| null|   null|
|       Acura|     CL|            14.114|             18.225|   Passenger|   null|        3.2|       225|    106.9| 70.6| 192.0|       3.47|         17.2|             26|     1/4/2012|             null| null| null|   null|
+------------+-------+------------------+-------------------+------------+-------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-----+-----+-------+
only showing top 5 rows

In [187]:
# right Join
df.join(MerekMobil,MerekMobil.Brand == df.Manufacturer,"right").show(5)

+------------+---------+------------------+-------------------+------------+-------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-----+-----+---------------+
|Manufacturer|    Model|Sales_in_thousands|__year_resale_value|Vehicle_type|  Price|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|index|Brand|        Country|
+------------+---------+------------------+-------------------+------------+-------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-----+-----+---------------+
|       Dodge|  Caravan|           181.749|             12.025|         Car|19565.0|        2.4|       150|    113.3| 76.8| 186.3|      3.533|         20.0|             24|     9/1/2011|      61.22700031|    1|Dodge|Amerika Serikat|
|       Dodge|  Durango|           101.323|               null|         Car|26310.0|        5.2|       230|    115.7| 71.7| 193.5|      4.394|         25.0|             17|    6/27/2012|      92.85412522|    1|Dodge|Amerika Serikat|
|       Dodge|   Dakota|           111.313|              11.26|         Car|16980.0|        2.5|       120|    131.0| 71.5| 215.0|      3.557|         22.0|             19|   11/25/2011|      49.64500177|    1|Dodge|Amerika Serikat|
|       Dodge|  Ram Van|            31.038|             13.425|         Car|18575.0|        3.9|       175|    127.2| 78.8| 208.5|      4.298|         32.0|             16|    7/26/2012|      70.07832154|    1|Dodge|Amerika Serikat|
|       Dodge|Ram Wagon|            16.767|              15.51|         Car|21315.0|        3.9|       175|    109.6| 78.8| 192.6|      4.245|         32.0|             15|     1/6/2012|      71.13529161|    1|Dodge|Amerika Serikat|
+------------+---------+------------------+-------------------+------------+-------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-----+-----+---------------+
only showing top 5 rows

<p><b>PENJELASAN</b></p>
<p>Dengan menggunakan fitur join kita dapat menggabungkan 2 dataframe berbeda menjadi 1,sistem join pun mirip dengan sql namun agar bisa di gabungkan 2 dataframe tersebut harus memiliki nilai kolom yang sama.<br>
Berikut Aksi yang di Lakukan : 
</p>
<ul>
    <li>Mengabungkan Dataset Merekmobil dan df</li>
</ul>